@media only screen and (max-width: 800px) {
    .square{
        width: 20vw;
        height: 21vh;
        margin-left: 2vw;
    }
}
@media only screen and (max-width: 400px) {
    .square{
        width: 70px;
        height: 71px;
    }
    .square-text{
        font-size: 7px;
    }
    .title{
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 6.136363506317139px;
        text-align: center;
    }
    .circle{
    width: 7px;
    height: 7px;
    }
  }